*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 1620px;
	margin: 0 auto;
}

h1 {
	font-weight: 700;
}

h2 {
	font-weight: 400;
}

p {
	font-weight: 300;
}
